<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

<IfModule mod_headers.c>
	Header unset ETag
	Header set Cache-Control "max-age=0, public, must-revalidate"
	
	<filesMatch "\.(ico|jpe?g|png|gif|swf)$">
		Header set Cache-Control "max-age=2592000, public"
	</filesMatch>
	<filesMatch "\.(css)$">
		Header set Cache-Control "no-cache, public, must-revalidate"
	</filesMatch>
	<filesMatch "\.(js)$">
		Header set Cache-Control "no-cache, private, must-revalidate"
	</filesMatch>
	<filesMatch "\.(html?)$">
		Header set Cache-Control "max-age=420, public, must-revalidate"
	</filesMatch>
</IfModule>

FileETag None